{% extends 'base.html' %}
{% block title %}Users{% endblock %}
{% block content %}
    <h2>Users</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Account Type</th>
                <th>Status</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.uid }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.account_type }}</td>
                    <td>{{ user.status }}</td>
                    <td>{{ user.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}